/* global rules */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: all 1s;
}

@media (max-width: 768px) {
  .show {
    transition: all 0.5s;
  }
}

/* end global rules */
/* header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  width: 95%;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  bottom: 0;
  height: 1px;
  width: calc(100% - 30px);
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 767px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
  }

  /* header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
  } */

  ul li a {
    height: 15px;
  }
}

header .container ul a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
}

header .container ul a.active,
header .container ul a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  position: relative;
  z-index: 2;
}

header .form {
  color: white;
  font-size: 20px;
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: solid white;
}

header .form i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* end of header */
/* landing */
.landing {
  background-image: url(../images/slide-01.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: #1f2021;
  width: 100%;
  transition: 1s;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.s-text {
  /* text-align: center; */
  color: white;
  position: absolute;
  width: 50%;
  padding: 40px;
  background-color: var(--transparent-color);
  top: 50%;
  left: 0%;
  transform: translatey(-50%);
  display: flex;
  justify-content: flex-end;
}

.s-text .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .s-text {
    width: 100%;
  }

  .s-text .content {
    max-width: 100%;
  }
}

.s-text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}

.s-text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

.bullets {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 30px;
  display: flex;
}

.bullets li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
}

.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* end landing */

/* head */
.s-heading {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .s-heading {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.s-heading h2 {
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}

.s-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 120px;
  background-color: #333;
  bottom: 22px;
}

.s-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 14px;
  width: 14px;
  border: 2px solid#333;
  bottom: 15px;
  background-color: white;
  border-radius: 50%;
}

.s-heading p {
  width: 550px;
  max-width: 100%;
  margin: 0 auto 25px;
  line-height: 2;
  color: #777;
}

/* end heading */
@media (min-width: 768px) {
  .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 40px;
  }
}

.services .col {
  display: flex;
}

.services .col .text {
  padding-left: 20px;
}

.services .col h2 {
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 20px;
}

.services .col p {
  font-size: 14px;
  color: #777;
  line-height: 2;
}

.services .col i {
  font-size: 40px;
  color: black;
  margin-right: 40px;
}

@media (max-width: 767px) {
  .services .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }

  .services .col i {
    margin: 0 0 30px;
  }
}

/* end services */
/* <!-- start design --> */
.des {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/design-features.jpg);
  height: 600px;
  background-repeat: no-repeat;
  margin-top: 100px;
  background-size: cover;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.des .over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.des .over img {
  border-style: none;
  position: absolute;
  top: 45%;
  left: 16%;
}

.des .s-text {
  left: 50%;
  justify-content: flex-start;
}

.des .s-text .content {
  max-width: 100%;
}

@media (max-width: 767px) {
  .des .over img {
    display: none;
  }

  .des .s-text {
    width: 100%;
    left: 0;
  }
}

.des .s-text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.des .s-text li {
  font-size: 18px;
  padding: 15px 0;
  font-weight: 300;
}

.des .s-text li::before {
  font-family: "font awesome 5 free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

/* <!-- end design --> */
/* start p */
.portfolio .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.portfolio .container .shuffel {
  display: flex;
  justify-content: center;
}

.portfolio .container ul li {
  padding: 7px;
}

.portfolio .container ul li.active {
  color: white;
  background-color: var(--main-color);
}

.portfolio .container-i {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-top: 30px;
}

.portfolio .container-i .image-box {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .portfolio .container-i .image-box {
    flex-basis: 100%;
  }
}

@media (min-width: 1199px) {
  .portfolio .container-i .image-box {
    flex-basis: 25%;
  }
}

.portfolio .container-i img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .container .caption {
  position: absolute;
  padding: 20px;
  left: 0%;
  width: 100%;
  transition: 0.3s;
  bottom: -100px;

  /* display: none; */
  background-color: white;
}

.portfolio .container .image-box:hover img {
  rotate: 3deg;
}

.portfolio .container .image-box:hover .caption {
  bottom: 0;
}

.portfolio .container .caption h4 {
  margin-top: 10px;
  font-weight: normal;
}

.portfolio .container .caption p {
  color: var(--main-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.active-m {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #19c8fa;
  color: white;
  font-size: 18px;
  font-weight: 300;
  width: 100px;
  padding: 20px 15px;
  margin-top: 15px;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* end p */
/* s video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}

.video .text p {
  margin-bottom: 20px;
}

.video .text h2 {
  margin: 0 0 30px;
  font-weight: normal;
}

.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
}

/* e video */
/* about */
.about {
  overflow: hidden;
  text-align: center;
}

.about img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
    right: 10px;
  }
}

/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url("../images/planet-desk_1920x1080.jpg");
  background-size: cover;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 20px;
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p {
  font-size: 14px;
}

/* End Stats */

/* e about */
/* SKILLS */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}

.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.testimonials {
  position: relative;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.our-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }

  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}

.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.our-skills .testimonials .bullets li {
  width: 18px;
  height: 18px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}

.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}

.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}

/* e SKILLS */
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url(../images/qoute.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.quote .text {
  text-align: center;
  color: white;
}

.quote .text h1 {
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
}

q::before {
  font-family: "font awesome 5 free";
  content: "\f10d";
  font-weight: 800;
  font-size: 15px;
  position: relative;
  top: -15px;
}

q::after {
  font-family: "font awesome 5 free";
  content: "\f10e";
  font-weight: 800;
  font-size: 15px;
  position: relative;
  top: -15px;
}

@media (max-width: 768px) {
  .quote .text h1 {
    font-size: 25px;
  }
}

.quote .text p {
  font-size: 16px;
}

/*  s pricing */
.pricing .container .plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding-bottom: 20px;
}

.pricing .pric-col {
  width: 200px;
  border-top: solid var(--main-color);
  border-width: 2px;
  text-align: center;
  background-color: #fcfcfc;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .pricing .pric-col {
    width: 300px;
    max-width: 100%;
    padding-bottom: 30px;
  }
}

.pricing .pric-col p {
  padding: 30px 0 30px;
  margin: auto;
  font-weight: normal;
  position: relative;
}

.pricing .pric-col p::after {
  content: "";
  background: var(--main-color);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 70%;
}

.pricing .pric-col p:nth-child(6) {
  border-bottom: 2px solid #19c8fa;
}

.pricing .pric-col span {
  display: inline-block;
  padding-top: 40px;
}

.pricing .pric-col h1 {
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: 50pt;
  font-weight: 600;
}

.pricing .pric-col h1::before {
  content: "$";
  font-size: 20px;
  position: relative;
  top: -50px;
  right: 10px;
}

.pricing .pric-col h1::after {
  content: "/Mo";
  font-size: 14px;
  font-weight: 700;
  position: relative;
  left: 10px;
}

.pricing .pric-col a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  color: black;
}

.pricing .contact-text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.pricing .contact-link {
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
  padding: 15px 30px;
}

/*  e pricing */
/* mail */
.mail-bg {
  background-image: url(../images/8ec0cbcaeaa714766ab2710315c40aaf.jpg);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}

.mail-bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 45%);
}

.mail-bg .container {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .mail-bg .container {
    flex-direction: column;
  }
}

.mail-bg form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.mail-bg form i {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 28px;
}

.mail-bg form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}

.mail-bg form input[type="submit"] {
  width: 130px;
  border: 1px solid white;
  border-left: none;
  background: #19c8fa;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}

.mail-bg form::-webkit-input-placeholder {
  color: white;
}

.mail-bg form::-moz-placeholder {
  color: white;
}

.mail-bg form:-ms-input-placeholder {
  color: white;
}

.mail-bg form::-ms-input-placeholder {
  color: white;
}

.mail-bg form::placeholder {
  color: white;
}

.mail-bg p {
  line-height: 2;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .mail-bg p {
    margin: 30px 0 0;
  }
}

/* e mail */
/* contact */
.contact .container {
  padding-top: 30px;
  padding-bottom: var(--section-padding);
  display: flex;
  justify-content: space-between;
}

.contact .container form {
  flex-basis: 70%;
}

.contact .container form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}

.contact .container form textarea {
  height: 200px;
}

.contact .container form input[type="submit"] {
  color: white;
  background-color: #19c8fa;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .container .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .container {
    flex-direction: column;
  }

  .contact .container .info {
    order: -1;
    margin-bottom: 30px;
    text-align: center;
  }
}

.contact .container .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.contact .container .info .phone {
  display: block;
  color: #777;
  margin-bottom: 11px;
}

.contact .container .info h4:nth-of-type(2) {
  margin-top: 90px;
}

.contact .container .info address {
  color: #777;
  line-height: 2;
}

/* e contact */
/* FOTTER */
.footer {
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.footer .container {
  padding: 100px 0 20px;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

.footer .container h3 {
  padding: 20px 0;
  position: relative;
}

.footer .container h3::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  bottom: 0;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

.footer .container i {
  padding: 20px 15px 30px;
  font-size: 25px;
}

.footer .container p {
  font-weight: normal;
  line-height: 2;
}

.footer .container p span {
  color: var(--main-color);
}
